
body {
  
    font-size: 15pt;
  background: #191d24;
}

*{
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
.header{
  position: sticky;
}
.header  {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  margin: auto;
  padding: 6px;
  background: #191d24;
  color: #fff;
  box-shadow: var(--boxShadow);
}
.header .text{
  font-size: 23px;
  font-family: 500;
  
}
.header .icon{
 
  padding: 2px;
  
  
}
.header ion-icon{
 margin: 5px;
 position: relative;
}
:root{
--mainColor: #35bf65;
--hoverMainColor: #3bd672;
--fontColor: #eae3dc;
--fontColor2: #21262f;
--boxShadow: -10px 10px 20px -4px rgba(0,0,0,.55);
--colors: #0FFF55;
--pagePadding: 1rem 5rem;
}
.text:hover{
  animation: 
  1s top alternate infinite;
  
  linearscroll-behavior: smooth;
}
.icon:hover{
  
  scroll-behavior: smooth;
}
@keyframes top{
  0%{
    transform: translateX(0);
  }
 
  50%{
    transform: translateX(2px);
  }
  100%{
    transform: translateX(0px);
  }
  
  
}
.animate__animated.animate__bounce {
  --animate-duration: 2s;
}
 .landing{
   position: relative;
   display: flex;
   
   align-items: center ;
   
 }
 .landing .texts{
   text-align: center ;
   padding: 9px;
   color: #fff;
   margin: 29px;
   
 }
 
 .landing .butn button{
   border: none;
   color: #777;
   box-shadow: var(--boxShadow);
   padding: 8px 7px;
  
  
  
  
 
   margin: 10px;
   
   border-radius: 10px;
   
  
 
  
 }
 button{
   
 }
 .butn{
   text-align: center ;
 }
 
.butn button:hover{
  background: var(--colors);
  color: #344;
  transition: .5s;
  
}
.landing .container {
  margin: 30px 0px;
}
.landing h6{
  
  margin: 12px;
}
.landing h1{
  margin: 2px;
  padding: 0 2px;
  color: var(--colors);
  font-size: 44px;
  box-shadow: 0 0 0 #0FFF55 ;
  border: none;
  animation: 2s tup linear alternate;
}

@keyframes tup{
  0%{
    opacity: 0;
    visibility: hidden;
  }
 10%{
   opacity: 0;
 }
  20%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  40%{
    opacity: .1;
  }
  50%{
    opacity: .2;
  }
  60%{
    opacity: .3;
  }
  70% {
    opacity: .4;
  }
  80% {
    opacity: .5;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 9;
    
    transition: .5s;
    visibility: visible;
    
    
  }
}

.o{
  margin: 10px;
  
  transform:  translateY(6px);
}

.butn a {
color: #777;
cursor: pointer;
font-size: 20px;
}
.butn a:hover{
  color: #333;
  transition: .5s;
}
.oo{
transform: translateY(4.9px);

}
body, html {
    margin: 0;
}

:root {
    --bg-color: #2E3D4B;
    --text-color: #6AE3FF;
}





.typewriter span {
    color: var(--colors);
    text-transform: uppercase;
    padding: 10px;
    font-size: 30px;
    border-right: solid var(--text-color) 10px; 
   
}

@keyframes cursor {
    from { border-color: transparent; }
    to { border-color: transparent; }
}

@media (max-width: 576px) {
    .typewriter { font-size: 24px; }
}
@media (max-width: 768px) {
    .typewriter { font-size: 36px; }
}

 .landing .typewriter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 49px;
    color: #FFFFFF;
 
    font-weight: bold;
    position: relative;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}
.img img
{
  width: 60%;
  max-width: 100%;
  animation: 1s iii alternate infinite;
  position: relative;
;
 
}
.img{
  text-align: center ;
}
@keyframes iii{
  
  0%{
   
    transform: translateY(23px);
  }
  40%{
   transform: translateY(22px);
  }
  100%{
  transform: translateY(10px)  ;
  
  transition: .5s;
  fill: #3EFF22;
  }
  
}
.img:hover{
 transform: scale(1.1);
 
}
footer{
  box-shadow: 1px 0px -1px #0D0D0D;
  width: 57%;
  border-radius: 10px;
  text-align: center ;
  
}
footer{
  
  transform: translateX(
  
 75px
  );
}
footer .container{
text-align: center ;
}
footer ion-icon{
  text-align: center ;
  transform: translateY(6px);
  color: white;
  
  
  color: #fff;
  position: relative;
  text-align: center ;
  font-size: 19px;
  margin: 0 9px;
}
footer a{
  color: #fff;
  font-size: 16px;
 width: 22px;
  height: 22px;
  border-radius: 50%;
  color: #fff;
  background-color: var(--colors) ;
  border: 3px solid var(--colors);
  text-align: center ;
}
footer a:hover{
  color: black;
  width: 39px;
}
footer ion-icon{
  width: 21px;
  height: 21px;
  border-radius: 50%;
  color: #fff;
  border: 2px solid var(--colors);
  background-color: var(--colors);
  text-align: center ;
  
  animation: 3s tup linear alternate;
  
}
